<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <title>Jurnal</title>
   
    <style>
      *{
        font-family: inter, sans-serif;
      }
      .nav-link{
        font-size: 18px;
      }
      .fa-house{
        font-size: 27px;
        color: white;
      }
      .fa-cubes{
        font-size: 27px;
        color: white;
      }
      .fa-clipboard{
        font-size: 27px;
        color: white;
      }
      .fa-user-large{
        font-size: 27px;
        color: white;
      }
      @media (max-width: 767.98px) { 
        .nav-icon{
          width: 20%;
        }
        .nav-text{
          width: 80%;
        }
        .left-content-card{
          text-align: left !important;
          width: 80%;
        }
        .right-content-card{
          width: 20%;
        }
        .height-content{
          height: 982px !important;
        }
        .header-card{
         width: 70% !important;
       }
       .header-btn{
         width: 30% !important;
       }
       .navbar-right{
         justify-content: end !important;
         display: flex;
       }
      }
    </style>
  </head>
  <body>
    <div class="row m-0 vh-100">
      <div class="col-md-2 col-6 bg-custom-1 p-0" id="navbarToggleExternalContent">
        
        <ul class="nav flex-column " style="margin-top: 50px;">
          <li class="nav-item">
            <a class="nav-link" href="Dashboard.html">
              <div class="row">
                <div class="col-md-3 nav-icon">
                  <i class="fa-solid fa-house" ></i>
                </div>
                <div class="col-md-9 nav-text">
                  <p>Dashboard</p>
                </div>
              </div>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Manajemen Kategori Produk</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="Manajemen-stok.html">
              <div class="row">
                <div class="col-md-3 nav-icon">
                  <i class="fa-solid fa-cubes"></i>
                </div>
                <div class="col-md-9 nav-text">
                  <p>Manajemen Stok</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Jurnal.html">
              <div class="row">
                <div class="col-md-3 nav-icon">
                  <i class="fa-solid fa-clipboard"></i>
                </div>
                <div class="col-md-9 nav-text">
                  <p>Jurnal</p>
                </div>
              </div>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="Pengaturan-profile.html">
              <div class="row">
                <div class="col-md-3 nav-icon">
                  <i class="fa-solid fa-user-large"></i>
                </div>
                <div class="col-md-9 nav-text">
                  <p>Pengaturan profile</p>
                </div>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      <div class="col-md-10 p-0" id ="uiNavbar">
        <div class="main-toolbar bg-custom-2" style="width: 100%;">
          <i class="bi bi-justify fs-1 text-white" style="text-align: left !important;" id="demo" onclick="closeNav()"></i>
          
        </div>
  
        <div class="container-fluid " style="min-height: 640px; background-color:#e2e0e070 ;">
          <div class="row m-0">
            <div class="col-md-12 p-3 height-content" >
              <div class="card shadow">
                <div class="container" >
                  <div class="row p-3">
                    <div class="col-lg-8 header-card" >
                      <h2 style="color: black;">Jurnal</h2>
                    </div>
                    <div class="col-lg-4 justify-content-end d-flex  header-btn">
                      <a href="tambah-stok.html" class="btn btn-warning header-btn">Tambah</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <span>Show</span>
                        <div class="col-md-8">
                          <span><select class="form-select" aria-label="Default select example" >
                            <option value="1">10</option>
                            <option value="2">25</option>
                            <option value="3">50</option>
                            <option value="3">100</option>
                            </select>
                          </span>
                        </div>
                        <div class="col-md-4">
                          <span>entries</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="search-bar">
                        <form action="/action_page.php" style="margin-top: 25px;">
                          <div class="row">
                            <div class="col-sm-1 p-0">
                              <button type="submit" style="border: 0px; padding: 6px; width: 35px; background-color: white; border: 0px 1px 0px 1px;">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <div class="col-sm-11 p-0">
                              <input class="form-control" type="text" placeholder="search-bar" aria-label="default input example">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Nama produk</th>
                            <th scope="col">Gambar</th>
                            <!-- <th scope="col">Jenis produk</th> -->
                            <th scope="col">Jumlah</th>
                            <th scope="col">Jumlah harga</th>
                            <th scope="col">Kode suplier</th>
                            <th scope="col">Barcode</th>
                            <th scope="col">Aksi</th>
                            <!-- <th scope="col">Jenis produk</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>12-04-2022</td>
                            <td>Sabun detergen rinso</td>
                            <td><img src="img/rinso.jpg" width="50%" alt="" srcset=""></td>
                            <!-- <td>Detergen</td> -->
                            <td>400</td>
                            <td>Rp. 8000</td>
                            <td>129304</td>
                            <td>41247124</td>
                            <td><a href="" class="btn btn-primary" style="margin-left: 5px;"><i class="fa-solid fa-pencil"></i></a><a href="" class="btn btn-warning"><i class="fa-solid fa-trash"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>12-04-2022</td>
                            <td>Sabun detergen rinso</td>
                            <td><img src="img/rinso.jpg" width="50%" alt="" srcset=""></td>
                            <!-- <td>Detergen</td> -->
                            <td>400</td>
                            <td>Rp. 8000</td>
                            <td>129304</td>
                            <td>41247124</td>
                            <td><a href="" class="btn btn-primary" style="margin-left: 5px;"><i class="fa-solid fa-pencil"></i></a><a href="" class="btn btn-warning"><i class="fa-solid fa-trash"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>12-04-2022</td>
                            <td>Sabun detergen rinso</td>
                            <td><img src="img/rinso.jpg" width="50%" alt="" srcset=""></td>
                            <!-- <td>Detergen</td> -->
                            <td>400</td>
                            <td>Rp. 8000</td>
                            <td>129304</td>
                            <td>41247124</td>
                            <td><a href="" class="btn btn-primary" style="margin-left: 5px;"><i class="fa-solid fa-pencil"></i></a><a href="" class="btn btn-warning"><i class="fa-solid fa-trash"></i></a></td>
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                      </div>
                      <div class="col-md-6" style="text-align: right;">
                        <p>Showing 1 to 10 of 521 entries</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <script>
      function openNav() {
            
            var myNav = document.getElementById("navbarToggleExternalContent");
            
            myNav.style.display = myNav.style.display === 'none' ? '' : 'none';
            
            document.getElementById("demo").onclick = closeNav;
      
            var element = document.getElementById("uiNavbar");
      
            var x = window.matchMedia("(max-width: 700px)");
      
            if (x.matches) {
      
                  element.classList.remove("col-12");
      
                  element.classList.remove("col-md-12");
      
                  element.classList.add("col-6");
      
                  element.classList.add("col-6");
      
      
            } else{
      
                  element.classList.remove("col-md-12");
                 
                  element.classList.remove("col-12");
      
                  element.classList.add("col-md-10");
                  
                  element.classList.add("col-6");
      
      
            }
      
      }
      
      function closeNav() {
      
            document.getElementById("navbarToggleExternalContent").style.display = "none";
            
            document.getElementById("demo").onclick = openNav;
      
            var element = document.getElementById("uiNavbar");
      
            var x = window.matchMedia("(max-width: 700px)");
      
            if (x.matches) {
      
                  element.classList.remove("col-md-10");
      
                  element.classList.remove("col-6");
      
                  element.classList.add("col-12");
      
                  element.classList.add("col-md-12");
      
      
            } else{
      
                  element.classList.remove("col-sm-10");
      
                  element.classList.remove("col-md-10");
      
                  element.classList.add("col-md-12");
                  
                  element.classList.add("col-12");
      
            }
      
          
      }
      
    </script>
  </body>
</html>